<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test game project</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" style="font-size: 35px" th:href="@{/index}">test project</a>
    </div>
</nav>
<div>
    <form th:action="@{/attempt}" th:object="${word}"
          method="post" style="max-width: 600px; margin: 5em auto;">
        <form class="col-form-label col-7"  th:action="@{/attempt}" th:object="${String}"
               method="post">Введите букву или слово целиком <br/>

        <h1 style="letter-spacing: 20px; font-size: 80px" th:text="${'*' * word.getName().length()}"></h1>
        <h2 style="letter-spacing: 10px; font-size: 40px" th:text="${ word.getHelpQuestion()}"></h2>

            <label class="col-form-label col-7">
                <input type="text" class="form" th:field="*{attempt}"/>
            </label> <br/>

    </form>
</div>

</body>
</html>